# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# package lock files
package-lock.json

# context for AI
generate_context.py
void_context.txt

# css map files
global.css
global.css.map

# prettier
.prettierignore

# config
/src/config/void-registry.json
/src/config/void-physics.json
/src/styles/config/_generated-themes.scss